@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*general*/
.small-text {   font-size: 14px;}

.rubi {  font-family: 'Rubik', sans-serif;  font-weight: 500;  }

.jost {  font-family: 'Jost', sans-serif;  }

.text-justify {   text-align: justify;  }



/*contact us*/
.green-texture {
    background-image: url(../image/green-texture.png);  background-size: cover;   background-position: center;
    background-repeat: no-repeat;
}

/*phone & mail*/
.green { background-color: #CBEDC2;  }

.darker-green {   background-color: #C2E0BA;   }

/*bottom arrow*/
.arrow-up {  width: 50px;  height: 45px;  border-top-left-radius: 5px;  border-bottom-left-radius: 5px;  
    border-top-right-radius: 0px;   border-bottom-right-radius: 0px;  background-color: #298754;  color: white;  
    transition: background-color 0.5s;
}

.arrow-up:hover { background-color: black;}

.arrow {
    position: fixed;  bottom: 0;  right: 0;  padding-bottom: 30px; 
}

.hide {
    opacity: 0;  transition: opacity 0.7s linear;
   
}
.show {
    opacity: 1;  transition: opacity 0.7s linear; 
}


.fadeInLeft {
    -webkit-animation: fadeInLeft 2s both;
    -moz-animation: fadeInLeft 2s both;
    -o-animation: fadeInLeft 2s both;
    animation: fadeInLeft 2s both;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 1039px) {
    .maze {
        display: none;
    }
}
















